@font-face{
    font-family: "Alberta Extra Bold";
    src: url($fontExtraBold) format('truetype');
}
@font-face{
    font-family: "Alberta Regular";
    src: url($fontRegular) format('truetype');
}
@font-face{
    font-family: "Alberta Bold";
    src: url($fontBold) format('truetype');
}
$febold:"Alberta Extra Bold";
$fregular:"Alberta Regular";
$fbold:"Alberta Bold";
body{
    font-family: $fregular;
    font-size: 12pt;
}