$colorprimario: #472C0F; // TODO: * Modificar color primario
$colorsecundario:rgb(255, 233 , 211); // TODO: * Modificar color secundario
$background:'media/STEAKHOUSE-FONDO-PANTALLAS-PC.jpg'; // TODO: * Modificar fondo de pantalla
$font: "fonts/p.t.barnumregular.ttf";