$colorprimario: #FFB000; // TODO: * Modificar color primario
$colorsecundario:#660000; // TODO: * Modificar color secundario
$colortres:#004D00;
$colorcuatro:#004000;
$background:'media/fondo.jpg'; // TODO: * Modificar fondo de pantalla
$fontExtraBold: "fonts/albertaextraboldregular.ttf";
$fontRegular: "fonts/albertaregular.ttf";
$fontBold: "fonts/albertabold.ttf";