-   
    var drinks = [
        {
            name: "Bebidas sin Alcohol",
            category:"bebidas",
            description:"",
            items: [
                {
                    name: "Pepsi 500 ml",
                    price: "14"
                },{
                    name: "Pepsi 500 ml",
                    price: "14"
                },{
                    name: "Pepsi 500 ml",
                    price: "14"
                },{
                    name: "Pepsi 500 ml",
                    price: "14"
                }
            ]
        },{
            name: "Vinos",
            category:"bebidas",
            description:"",
            items: [
                {
                    name: "Pepsi 500 ml",
                    price: "14"
                }
            ]
        }
    ];