-   
    // TODO: nombre de variable PLATES
    var combos = {
        name: "Combos",
        category: "combos",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo 1",
                description: "24 Chickenwings con salsa BBQ + 4 Huari de 330 ml",
                price_uno: 86,
                price_dos: false,
                link:"combo1.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO2",
                    extention: ".jpg"
                },
                text: "Combo 2",
                description: "8 Chickenwings con salsa BBQ + Pepsi de 500 ml",
                price_uno: 49,
                price_dos: false,
                link:"combo2.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO3",
                    extention: ".jpg"
                },
                text: "Combo 3",
                description: "1Kg Irish Salchipapa + 2 Pepsi de 500 ml",
                price_uno: 86,
                price_dos: false,
                link:"combo3.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO4",
                    extention: ".jpg"
                },
                text: "Combo 4",
                description: "Supreme nachos + 1 Corona de 355 ml",
                price_uno: 52,
                price_dos: false,
                link:"combo4.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO5",
                    extention: ".jpg"
                },
                text: "Combo 5",
                description: "Supreme fries + Huari de 330 ml",
                price_uno: 59,
                price_dos: false,
                link:"combo5.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO6",
                    extention: ".jpg"
                },
                text: "Combo 6",
                description: "Pique tradicional grande + 2 Huari de 330 ml",
                price_uno: 109,
                price_dos: false,
                link:"combo6.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO7",
                    extention: ".jpg"
                },
                text: "Combo 7",
                description: "Dubliner burger + Pepsi de 500 ml",
                price_uno: 59,
                price_dos: false,
                link:"combo7.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO8",
                    extention: ".jpg"
                },
                text: "Combo 8",
                description: "Beef bites + 7-Up de 500 ml",
                price_uno: 59,
                price_dos: false,
                link:"combo8.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO9",
                    extention: ".jpg"
                },
                text: "Combo 9",
                description: "Irish pique macho + Huari de 330 ml",
                price_uno: 75,
                price_dos: false,
                link:"combo9.html",
                status: true
            }
            
        ]
    }