//- TODO: *Configuraciones iniciales
- var title = "The Dubliner"
- var author = "Cristhian Chauca"
- var page = "Menú"
- var metadescripcion = ""
- var keywords = ""
- var dishes = ""
//- TODO: *config THEME
- var logo = {img:"logo",extention:".svg",alt: "Logo Dubliner"}
- var favIcon = "favicon.png"
- var colorTheme = "#004000"
- var bannerHeader= {img:"",extention:".png", alt: "banner - header"}
- 
    var sponsor = [
        {
            name:"huari",
            img:"huari",
            extencion:".svg"
        },
        {
            name:"Pacenia",
            img:"pacenia",
            extencion:".svg"
        },
        
        {
            name:"H2OH",
            img:"h2oh",
            extencion:".svg"
        },
        {
            name:"Guarana",
            img:"guarana",
            extencion:".svg"
        },
        {
            name:"Pepsi",
            img:"pepsi",
            extencion:".svg"
        },
        
        {
            name:"7-up",
            img:"7-up",
            extencion:".svg"
        }
    ];
- var boton = "Boton.svg"
- var btnAtras = "back_button.svg"