//- TODO: *Configuraciones iniciales
- var title = "The Dubliner"
- var author = "Cristhian Chauca"
- var page = "Menú"
- var metadescripcion = ""
- var keywords = ""
- var dishes = ""
//- TODO: *config THEME
- var logo = {img:"logo",extention:".svg",alt: "Logo Dubliner"}
- var favIcon = "favicon.png"
- var colorTheme = "#3d2116"
- var bannerHeader= {img:"",extention:".png", alt: "banner - header"}
- 
    var sponsor = [
        {
            name:"pepsi",
            extension: ".svg"
        }
    ];
- var boton = "Boton.svg"
- var btnAtras = "back_button.svg"