-   
    // TODO: nombre de variable PLATES
    var desserts = {
        name: "Desserts",
        category: "desserts",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"HELADO_TRICOLOR_REST",
                    extention: ".jpg"
                },
                text: "Helado Tricolor",
                description: "",
                price_uno: "20",
                price_dos: "",
                link:"helado.html",
                status: true
            },
            {
                img: {
                    picture:"BROWNIE_REST",
                    extention: ".jpg"
                },
                text: "Brownie",
                description: "",
                price_uno: 24,
                price_dos: "",
                link:"brownie.html",
                status: true
            },
            {
                img: {
                    picture:"BROWNIE_REST",
                    extention: ".jpg"
                },
                text: "Cheese cake",
                description: "",
                price_uno: "22",
                price_dos: "",
                link:"cheese_cake.html",
                status: true
            }
            
        ]
    }