-   
    // TODO: nombre de variable PLATES
    var main_meals = {
        name: "Main Meals",
        category: "main_meals",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"IRISH_PIQUE_MACHO",
                    extention: ".jpg"
                },
                //- FIXME: Colocar  entre parentecis linea abajo
                text: "Irish Pique Macho<br>(Res - pollo - mixto)",
                description: "Pique al estilo The Dubliner con aros de cebolla y langostinos.",
                price_uno: "69",
                price_dos: "112",
                link:"irish_pique_macho_res_pollo_mixto.html",
                status: true
            },
            {
                img: {
                    picture:"",
                    extention: ".jpg"
                },
                text: "Pique Tradicional<br>(res - pollo - mixto)",
                description: "Pique Tradicional (res - pollo - mixto)",
                price_uno: 65,
                price_dos: 109,
                link:"pique_tradicional_res_pollo_mixto.html",
                status: true
            },
            {
                img: {
                    picture:"PEPPER_STEAK",
                    extention: ".jpg"
                },
                text: "Pepper Steak",
                description: "Steak sellado con pimienta negra, flambeado con cognac  servido con salsa de pimienta negra, coleslaw y papas fritas.",
                price_uno: "72",
                price_dos: "",
                link:"pepper_steak.html",
                status: true
            },
            {
                img: {
                    picture:"DUBLINER_FRIED_CHICKEN",
                    extention: ".jpg"
                },
                text: "Dubliner Fried Chicken",
                description: "1/2 pollo frito servido con papas fritas y Coleslaw",
                price_uno: "59",
                price_dos: "",
                link:"dubliner_fried_chicken.html",
                status: true
            },
            {
                img: {
                    picture:"POLLO_BISTRO",
                    extention: ".jpg"
                },
                text: "Pollo Bistro",
                description: "Polla a plancha servido con una salsa bistro, coleslaw y papas fritas.",
                price_uno: "59",
                price_dos: "",
                link:"pollo_bistro.html",
                status: true
            },
            {
                img: {
                    picture:"IRISH_DUBLINER_STEW",
                    extention: ".jpg"
                },
                text: "Irish Dubliner Stew",
                description: "El estofado original de Irlanda preparado con Guinness.",
                price_uno: "59",
                price_dos: "",
                link:"irish_dubliner_stew.html",
                status: true
            },
            {
                img: {
                    picture:"BANGER_AND_MASH",
                    extention: ".jpg"
                },
                text: "Bangers and Mash",
                description: "Un plato favorito de los irlandeses con pure de papa,  chorizo cubierto con su salsa de cebolla hecho de jugo de los chorizos.",
                price_uno: "49",
                price_dos: "",
                link:"bangers_and_mash.html",
                status: true
            },
            {
                img: {
                    picture:"DUBLINER_STEAK",
                    extention: ".jpg"
                },
                text: "Dubliner Steak",
                description: "Un filete de primera servido con coleslaw y papas fritas.",
                price_uno: "69",
                price_dos: "",
                link:"dubliner_steak.html",
                status: true
            }
            
        ]
    }