-   
    var menu = [
        {
            name: "Pub Bites",
            link: "pub_bites.html",
            status: true
        },{
            name: "Main Meals",
            link: "main_meals.html",
            status: true
        },{
            name: "Desserts",
            link: "desserts.html",
            status: true
        },{
            name: "Combos",
            link: "Combos.html",
            status: true
        },{
            name: "Drinks",
            link: "drinks.html",
            status: true
        }
    ]