-   
    var menu = [
        {
            name: "Platos",
            link: "platos.html",
            status: true
        },{
            name: "Bebidas",
            link: "bebidas.html",
            status: true
        }
    ]