-   
    // TODO: nombre de variable PLATES
    var plates = {
        name: "Platos",
        category: "platos",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"PLATO-DEFAULT",
                    extention: ".jpg"
                },
                text: "Nombre Plato 2",
                description: "2 -Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam ipsam magni vitae assumenda quas, pariatur animi. Non enim quisquam consectetur?",
                price_uno: "78 - 94",
                price_dos: "78 - 93",
                link:"plato.html",
                status: true
            },
        ]
    }