-   
    // TODO: nombre de variable PLATES
    var pub_bites = {
        name: "Pub Bites",
        category: "pub_bites",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"CHEDDAR_STICKS",
                    extention: ".jpg"
                },
                text: "Cheddar Sticks",
                description: "servido con salsa BBQ",
                price_uno: "39",
                price_dos: "",
                link:"cheddar_sticks.html",
                status: true
            },
            {
                img: {
                    picture:"TABLA_MIXTA",
                    extention: ".jpg"
                },
                text: "Tabla Mixta",
                description: "Salchipapa, 8 alitas, 4 brochetas de saté, Beef Bites y Dubliner Surpreme Fries.",
                price_uno: "199",
                price_dos: "",
                link:"tabla_mixta.html",
                status: true
            },
            {
                img: {
                    picture:"SATE",
                    extention: ".jpg"
                },
                text: "Sate",
                description: "Papas fritas cubiertas con mayonesa, cebolla y salsa de maní, acompañadas con 6 brochetas de pollo servido con salsa de maní.",
                price_uno: "49",
                price_dos: "",
                link:"sate.html",
                status: true
            },
            {
                img: {
                    picture:"",
                    extention: ".jpg"
                },
                text: "Supreme Nachos",
                description: "Nachos servidos en salsa de carne, guacamole y pico de gallo.",
                price_uno: "44",
                price_dos: "",
                link:"supreme_nachos.html",
                status: true
            },
            {
                img: {
                    picture:"MILANESA_PICADA",
                    extention: ".jpg"
                },
                text: "Milanesa Picada",
                description: "Milanesa de pollo, papas fritas servido con salsa BBQ.",
                price_uno: "49",
                price_dos: "",
                link:"milanesa_picada.html",
                status: true
            },
            {
                img: {
                    picture:"ONION_RINGS",
                    extention: ".jpg"
                },
                text: "Onion Rings",
                description: "Aros de cebolla con nuestra salsa BBQ.",
                price_uno: "28",
                price_dos: "",
                link:"onion_rings.html",
                status: true
            },
            {
                img: {
                    picture:"PUB_CHIPS",
                    extention: ".jpg"
                },
                text: "Pub Chips",
                description: "Papas fritas",
                price_uno: "28",
                price_dos: "",
                link:"pub_chips.html",
                status: true
            },
            {
                img: {
                    picture:"CLASICC_NACHOS",
                    extention: ".jpg"
                },
                text: "Classic Nachos",
                description: "Nachos con salsa de queso picante, pico de gallo y guacamole.",
                price_uno: "34",
                price_dos: "",
                link:"classic_nachos.html",
                status: true
            },
            {
                img: {
                    picture:"SUPREME_FRIES",
                    extention: ".jpg"
                },
                text: "Supreme Fries",
                description: "Papas fritas servidas con carne, salsa de queso y salsa agria.",
                price_uno: "49",
                price_dos: "",
                link:"supreme_fries.html",
                status: true
            },
            {
                img: {
                    picture:"FRIED_SHRIMPS",
                    extention: ".jpg"
                },
                text: "Fried Shrimps",
                description: "Langostinos fritas con su salsa de langostinos",
                price_uno: "49",
                price_dos: "",
                link:"fried_shrimps.html",
                status: true
            },
            {
                img: {
                    picture:"BEEF_BITES",
                    extention: ".jpg"
                },
                text: "Beef Bites",
                description: "Piqueo de filete salteado con finas hierbas, servido con aros de cebolla y salsa Bistro.",
                price_uno: "54",
                price_dos: "",
                link:"beef_bites.html",
                status: true
            },
            {
                img: {
                    picture:"SALCHIPAPA",
                    extention: ".jpg"
                },
                text: "1/2 kg Irish Salchipapas",
                description: "servido con tocino crocante.",
                price_uno: "46",
                price_dos: "",
                link:"1_2_kg_irish_salchipapas.html",
                status: true
            },
            {
                img: {
                    picture:"",
                    extention: ".jpg"
                },
                text: "1 kg Irish Salchipapas",
                description: "",
                price_uno: "79",
                price_dos: "",
                link:"1_kg_irish_salchipapas.html",
                status: true
            },
            {
                img: {
                    picture:"CHICKEN_WINGS",
                    extention: ".jpg"
                },
                text: "8 Chicken Wings",
                description: "Pidelas con tu salsa favorita Buffalo o BBQ o pide nuestros Crispy Chickenwings.",
                price_uno: "44",
                price_dos: "",
                link:"8_chicken_wings.html",
                status: true
            },
            {
                img: {
                    picture:"",
                    extention: ".jpg"
                },
                text: "16 Chicken Wings",
                description: "Pidelas con tu salsa favorita Buffalo o BBQ o pide nuestros Crispy Chickenwings.",
                price_uno: "64",
                price_dos: "",
                link:"16_chicken_wings.html",
                status: true
            },
            {
                img: {
                    picture:"",
                    extention: ".jpg"
                },
                text: "24 Chicken Wings",
                description: "Pidelas con tu salsa favorita Buffalo o BBQ o pide nuestros Crispy Chickenwings.",
                price_uno: "79",
                price_dos: "",
                link:"24_chicken_wings.html",
                status: true
            },
            {
                img: {
                    picture:"DUBLINER_BURGER",
                    extention: ".jpg"
                },
                text: "Dubliner Burger",
                description: "con lechuga, tomate, pepinillo, aros de cebolla, tocino, queso, huevo frito, salsa de BBQ servido con papas fritas",
                price_uno: "54",
                price_dos: "",
                link:"dubliner_burger.html",
                status: true
            },
            {
                img: {
                    picture:"CHESSE_BURGER",
                    extention: ".jpg"
                },
                text: "Cheese Burger",
                description: "Con lechuga, tomate, cebolla, pepinillo, queso cheddar, dambo, mayonesa servido con papas fritas",
                price_uno: "44",
                price_dos: "",
                link:"cheese_burger.html",
                status: true
            },
            {
                img: {
                    picture:"CRISPY_CHICKEN_SANDWICH",
                    extention: ".jpg"
                },
                text: "Crispy Chicken Sandwich",
                description: "Lechuga, tomate, cebolla pollo rebozado con salsa BBQ y papas fritas.",
                price_uno: "44",
                price_dos: "",
                link:"crispy_chicken_sandwich.html",
                status: true
            },
            {
                img: {
                    picture:"CHICKEN_AND_BACON_SALADS",
                    extention: ".jpg"
                },
                text: "Chicken and Bacon Salad",
                description: "Mix de verduras acompañadas de delicioso pollo al bistro, tocino, huevo sancochado y aderezo de cilantro.",
                price_uno: "39",
                price_dos: "",
                link:"chicken_and_bacon_salad.html",
                status: true
            }
        ]
    }