-   
    // TODO: nombre de variable PLATES
    var pub_bites = {
        name: "Pub Bites",
        category: "pub_bites",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"cheddar_sticks",
                    extention: ".jpg"
                },
                text: "Cheddar Sticks2",
                description: "servido con salsa BBQ",
                price_uno: "39",
                price_dos: "",
                link:"cheddar_sticks.html",
                status: true
            },
            {
                img: {
                    picture:"cheddar_sticks",
                    extention: ".jpg"
                },
                text: "Cheddar Sticks",
                description: "servido con salsa BBQ",
                price_uno: "39",
                price_dos: "",
                link:"cheddar_sticks.html",
                status: true
            },
            {
                img: {
                    picture:"cheddar_sticks",
                    extention: ".jpg"
                },
                text: "Cheddar Sticks1",
                description: "servido con salsa BBQ",
                price_uno: "39",
                price_dos: "",
                link:"cheddar_sticks.html",
                status: true
            },
            {
                img: {
                    picture:"cheddar_sticks",
                    extention: ".jpg"
                },
                text: "Cheddar Sticks3",
                description: "servido con salsa BBQ",
                price_uno: "39",
                price_dos: "",
                link:"cheddar_sticks.html",
                status: true
            },
            {
                img: {
                    picture:"cheddar_sticks",
                    extention: ".jpg"
                },
                text: "Cheddar Sticks4",
                description: "servido con salsa BBQ",
                price_uno: "39",
                price_dos: "",
                link:"cheddar_sticks.html",
                status: true
            },
            {
                img: {
                    picture:"cheddar_sticks",
                    extention: ".jpg"
                },
                text: "Cheddar Sticks5",
                description: "servido con salsa BBQ",
                price_uno: "39",
                price_dos: "",
                link:"cheddar_sticks.html",
                status: true
            }
        ]
    }