extends ../../templates/template-plate.pug
include ../../mixins/plato
append config
    // TODO: * modificar variable objeto
    each plato in main_meals.content
        // TODO: * modificar variable TITULO
        if(plato.text == "Irish Pique Macho (Res - pollo - mixto)")
            - page = plato.text
            - metadescripcion = plato.description
block content
    .content__plate
        // TODO: * modificar variable objeto
        each plato in main_meals.content
            // TODO: * modificar variable TITULO
            if(plato.text == "Irish Pique Macho (Res - pollo - mixto)") 
                //- TODO: * Modificar nombre de objeto para description
                - var modificador = {uno:"",dos:"- Grande",tres:false}
                +platodos(plato,sponsor[0],main_meals.category, modificador)
            
    include ../../blocks/btn_atras
    //- TODO: * Modificar nombre de objeto para category
    +btn(main_meals.category)