extends ../../templates/template-plate.pug
include ../../mixins/plato
append config
    // TODO: * modificar variable objeto
    each plato in pub_bites.content
        // TODO: * modificar variable TITULO
        if(plato.text == "8 Chicken Wings")
            - page = plato.text
            - metadescripcion = plato.description
block content
    .content__plate
        // TODO: * modificar variable objeto
        each plato in pub_bites.content
            // TODO: * modificar variable TITULO
            if(plato.text == "8 Chicken Wings") 
                //- TODO: * Modificar nombre de objeto para description
                +plato(plato.img,plato.text,plato.price_uno,plato.price_dos,plato.description,sponsor[0],pub_bites.category)
            
    include ../../blocks/btn_atras
    //- TODO: * Modificar nombre de objeto para category
    +btn(pub_bites.category)