//- TODO: * Importar los platos que se usaran para poder usar los arreglos en las páginas
include ../config/plates
//- importamos los archivos de configuración
block config
    include ../config/config
include ../includes/head