//- TODO: * Importar los platos que se usaran para poder usar los arreglos en las páginas
include ../config/pub_bites
include ../config/main_meals
include ../config/desserts
include ../config/bebidas
//- importamos los archivos de configuración
block config
    include ../config/config
include ../includes/head