<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include header
    body
        block header
        block content
        block btnAtras
        block preloading
            include ../includes/preloading
        block scripts
            include ../includes/scripts