.lists {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 50px;
  margin-top: 30px;

  &__header {
    text-align: center;
    width: 14em;
    position: relative;
    margin: 0 auto;
  }
  &__title {
    color: white;
    font-size: 1.35em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__marco {
  }
  &__body {
  }
  &__item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 7px;
    color: $colorprimario;
  }
  &__name {
    font-size: 1.3em;
  }
  &__line {
    flex-grow: 1;
    border-bottom: 2px $colorprimario;
  }
  &--uno {
    flex-grow: 1;
  }
  &--prices {
    width: 70px;
    text-align: center;
  }
  &__names {
    width: 100%;
    display: flex;
    margin-top: 15px;
  }
  &__drinkname {
    height: 1px;
    flex-grow: 1;
  }
  &__name-price {
    width: 70px;
    text-align: center;
    color: $colorprimario;
  }
}
